*{
    padding: 0;
    margin: 0;
}
:root{
    --background-main-color: #fdfdfd;
    --background-contrast-color: #0d0e13;
    --background-toggle-background-color: #dadada;
    --transtition-time: 0.5s

}
[data-theme="dark"]{
    
    --background-main-color: #0d0e13;
    --background-contrast-color: #fdfdfd;
    --background-toggle-background-color: #3a3d44;
    --transtition-time: 0.5s

}
body{
    transition: var(--transtition-time);

    height: 100vh;
    width: 100vw;
    background-color: var(--background-main-color);
}

.toggleTheme{
    transition: var(--transtition-time);

    background-color: var(--background-main-color);
    display: flex;
    justify-content: space-evenly;
    width: fit-content;
    border-radius: 100px;
}


.themeIconDiv{
    background-color: var(--background-main-color);
    all: unset;
    height: 28px;
    width: 28px;
    border-radius: 100px;
    padding: 5px;
    padding-inline: 10px;
    border: 1px solid transparent;

    transition: var(--transtition-time);
}
.icon:hover{
    cursor: pointer;
    transition: 0.5s;

}
.spinIcon{
    transition: 0.5s;
}
.spinIcon:hover{
    transform:rotate(-90deg);
}

.selectedThemeIcon{

    transition: var(--transtition-time);
    border: 1px solid var(--background-contrast-color);
}